:root {
    --text-color-primary: #151A24;
    --white: rgb(245, 245, 245);
    --lighter-blue: #EEF1FF;
    --light-blue: #D0EEFF;
    --blue-primary: #3C5BFF;
    --grey-light: rgb(235, 235, 235);




    --box-shadow: 2px 2px 2px 1px #2f2f2f26;
}